<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wsj.crash.lib">

    <application>
        <activity android:name=".CrashViewerActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".CrashContentProvider"
            android:authorities="${applicationId}.crash.logger"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>